$rc-rojo: #b5244f;
$rc-dorado: #e5b100;
$rc-negro: #111;
$rc-blanco: #ffffff;

$font-headings: 'Playfair Display', serif;
$font-body: 'Poppins', system-ui, -apple-system, Segoe UI, Roboto, sans-serif;

$space-1: .5rem;
$space-2: 1rem;
$space-3: 1.5rem;
