.titulo1 {
    font-weight: bold;
}

.titulo2 {
    font-size: 40px;
    color: #fff;
}

.titulo3 {
    color: #000;
    font-size: 50px;
}

.banner1 {
    background-image: url("../imagenes/banner1.jpg");
    background-size: cover;
    background-position: center;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.7);
}

.container-fluid1 {
    padding-top: 210px;
    padding-bottom: 200px;
}

.container-fluid2 {
    padding-top: 35px;
    padding-bottom: 35px;
}

.fondo1 {
    background-color: #E5D96B;
}

.container-fluid3 {
    padding-top: 50px;
    padding-bottom: 50px;
}

.banner2 {
    background-image: url("../imagenes/banner2.jpg");
    background-size: cover;
    background-position: center;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.3);
}

.container-fluid4 {
    padding-top: 140px;
    padding-bottom: 140px;
}

.container-fluid5 {
    padding-top: 100px;
    padding-bottom: 100px;
}

.container-fluid6 {
    padding-top: 0px;
    padding-bottom: 30px;
}








