@media (max-width: 576px) {
    .banner1 {
        animation: none;
        background-image: none;
        color: #fff;
        background: rgb(69,36,8); 
        background: linear-gradient(90deg, rgba(68,36,8,1) 0%, rgba(254,226,192,1) 100%, rgba(254,226,192,1) 100%);
    }
    .banner2 {
        background-image: none;
        background-color: #ffe4c4;
    }
    .color1{
        color: #000;
    }
    .colorp h1{
        font-size: 45px !important;
    }
    .fondo2{
        background-color: #ffe4c4;
    }
}

