.box{
    /*posicion de la caja que debe respetarse*/
    position: relative;
}

.efecto{
    position: absolute; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);    
    display: flex;
    justify-content: center;
    align-items: center;   
    transform: scale(0);
    transition: .3s ease;
}



/*efecto que se aplica al pasar el mouse sobre las fotos*/
.box:hover .efecto{
    transform: scale(1);
}







